@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* { margin: 0; padding: 0; }
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
i {
    font-size: xx-large;
    padding-right: 50px;
}
i:hover {
    color: steelblue;
    cursor: pointer;
}
a:visited {
    color: white;
}