@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* { margin: 0; padding: 0; }
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    user-select: none;
    text-shadow: -1px -3px 18px rgba(150, 150, 150, 1);
}

.container {
    position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

.footer {
    position: absolute;
	top: 85%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

.links {
    list-style: none;
}

.links>li {
    display: inline;
    padding: 5px;
}

.links>li>a {
    text-decoration: none;
    color: white;
    font-size: 32px;
}

.links>li>a>i:hover {
    color: red;
}

.links>li>a:visited {
    color: white;
}